* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
}
.one,.two,.three,.four,.five,.six,
.seven,.eight,.nine,.ten,.eleven,.twelve{
    content: "";
    position: absolute;
    width: 4px;
    background: grey;
    border: 2px;
}
.twelve {
  height: 40px;
  bottom: 508px;
  z-index: 10;
}

.three {
  height: 40px;
  left: 920px;
  rotate: 90deg;
}

.six {
  height: 40px;
  top: 507px;
}

.nine {
  height: 40px;
  right: 920px;
  rotate: 90deg;
}

.one {
  height: 25px;
  bottom: 502px;
  left: 845px;
  rotate: 30deg;
}

.seven {
  height: 25px;
  top: 501px;
  right: 849px;
  rotate: 30deg;
}

.two {
  height: 25px;
  bottom: 442px;
  left: 906px;
  rotate: 60deg;
}

.eight {
  height: 25px;
  top: 440px;
  right: 907px;
  rotate: 60deg;
}

.four {
  height: 25px;
  top: 442px;
  left: 906px;
  rotate: 120deg;
}

.ten {
  height: 25px;
  bottom: 441px;
  right: 908px;
  rotate: 120deg;
}

.five {
  height: 25px;
  top: 502px;
  left: 845px;
  rotate: 150deg;
}

.eleven {
  height: 25px;
  bottom: 501px;
  right: 849px;
  rotate: 150deg;
}

.container {
  position: relative;
}

.container .circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  animation: 2s ease-in infinite alternate;
}

.container .circle:nth-child(1) {
  width: 180px;
  height: 180px;
  top: -60px;
  left: 400px;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  animation-name: move-up;
}

@keyframes move-up {
  to {
    transform: translateY(-50px);
  }
}

.container .circle:nth-child(2) {
  width: 120px;
  height: 120px;
  bottom: 20px;
  right: 430px;
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  animation-name: move-down;
}

@keyframes move-down {
  to {
    transform: translateY(50px);
  }
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px;
  border-color: transparent;
  border-radius: 50%;
  border-style: solid;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 15;
}

.clock .hour,
.clock .minute,
.clock .second {
  position: absolute;
}

.clock .hour,
.clock .hour .hr {
  width: 10px;
  height: 160px;
}

.clock .minute,
.clock .minute .min {
  width: 190px;
  height: 190px;
}

.clock .second,
.clock .second .sec {
  width: 230px;
  height: 230px;
}

.clock .hour,
hr,
.clock .minute .min,
.clock .second .sec {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.clock .hour .hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #720e9e;
  z-index: 10;
  border-radius: 10px;
}

.clock .minute .min::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #800080;
  z-index: 11;
  border-radius: 8px;
}

.clock .second .sec::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 140px;
  background: #b798e9;
  z-index: 12;
  border-radius: 2px;
}

.alignment {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 130px;
}
.calendar {
  width: 350px;
  height: 250px;
  float: left;
  border: 4px;
  border-width: 4px;
  border-color: palegoldenrod;
  border-color: darkgrey;
  border-style: solid;
  border-radius: 10%;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.05);
  /* animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite; */
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.firstcircle {
  width: 30px;
  height: 30px;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  border-radius: 50%;
  position: absolute;
  animation: myfirst 20s infinite;
  /* animation-direction: alternate; */
}

@keyframes myfirst {
  0% {
    left: -15px;
    top: -15px;
  }
  25% {
    left: 330px;
    top: -15px;
  }
  50% {
    left: 330px;
    top: 230px;
  }
  75% {
    left: -15px;
    top: 230px;
  }
  100% {
    left: -15px;
    top: -15px;
  }
}

.date_line {
  background-color: darkgrey;
  border-color: darkgrey;
  width: 300px;
  border-radius: 0%;
  text-align: left;
  justify-content: center;
  left: 20pt;
  bottom: 100pt;
  height: 4px;
}

.clock__day-week {
  font-size: 50px;
  display: flex;
  position: relative;
  height: 80px;
  width: 250px;
  top: 31pt;
  left: 20pt;
  background: -webkit-linear-gradient(#4158d0, #c850c0, #ffcc70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clock__text-ampm,
.clock__text-hour,
.clock__text-minutes,
.clock__text-seconds {
  font-size: 50px;
  position: relative;
  top: 30pt;
  left: 20pt;
  height: 100px;
  width: 100px;
  background: -webkit-linear-gradient(#84fab0, #8fd3f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clock__month,
.clock__day,
.clock__year {
  font-size: 50px;
  position: relative;
  top: 25pt;
  left: 20pt;
  height: 100px;
  width: 100px;
  background: -webkit-linear-gradient(#84fab0, #8fd3f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

